body {
  margin: 0;
  background-color: black;
  color: #fff;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.banner .content .title {
  font-family: "Hallowed Grounds";
  font-size: 9em;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(./img/344388-Melantha-Arknights-Anime-Girls-Video-Game.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;

  mask-image: url(./img/Ink-lvl-2.gif);
  mask-size: cover;
  mask-position: center;
}
